.card{
    width: 250px;
    height: 140px;
    border-radius: solid;
    background-color: rgb(63, 59, 59);
    border-color: rgb(233, 7, 139);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: -60px;
    
}
h1{
    text-align: center;
    margin-top: 2px;
    color: rgb(233, 7, 139);
}
.valor{
    display: flex;
    
}
h2{
    margin-left: 45px;
}
p{
    margin-top: -20px;
    margin-left: 55px;
}